/* ==========================================================================
   # Colour Settings
   ========================================================================== */

$text-default: #434C54;
$text-primary: #007bff;
$text-white: #ffffff;

$background-default: #f5f5f5;
$background-primary: #007bff;
$background-primary-dark: #006097;
