/* ==========================================================================
   # Image Element
   ========================================================================== */

img {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
