/* footer
==================================================*/

footer {
  padding: 10px 0;
  text-align: center;
  background: $background-default;
}

.copyright {
  color: $text-default;
  margin-bottom: 0;
}

footer img {
  margin: 0 auto;
}
